<!Doctype html>
<html class="no-js" lang="en">
<head>
	<title>Github Pokedex</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/foundation.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/foundation.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='js/modernizr.js') }}">
	<link href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
</head>
<body>
	<section class="row poketitle">
		<article class="small-12 medium-12 large-12 columns">
			<img src="{{ url_for('static', filename='img/octotrainer.png') }}">
			<h1>GitHub Pokedex</h1>
		</article>

	</section>
	<section class="row pokesearch">
		<form id="repo" method="POST" action="/github">
			<div class="small-12 medium-12 large-12 columns">
				<input id="user" name="username" type="text" placeholder="Enter a username">
			</div>
			<div class="small-12 medium-12 large-12 columns">
				<input type="image" src="{{ url_for('static', filename='img/spin-button.png') }}" value="enter">
			</div>
			
		</form>
	</section>
		
	
	
	<script>
		 $(document).foundation();
	</script>
</body>
</html>

